header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #909090;
  height: 64px;
  width: 100%;
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
  font-weight: 600;
  border: white;
}

.musicNavBar {
  display: flex;
  width: 100%;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 19px;
  margin-right: 40px;
}

.menuTwo {
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 19px;
  margin-right: 40px;
}

.menuTwo div {
  padding: 20px;
}
.menuTwo div:hover {
  color: white;
}

.menu div {
  padding: 20px;
}
.menu div:hover {
  color: white;
}
.profilIcon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 80px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: white;
}

.smallIcon {
  display: none;
}

.searchPart{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#searchInput {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  
  border: 1px #333333 solid;
  border-radius: 2px;
  
  background-color:#212121; ;
}

.searchHeader {
  padding: 15px;
  width: 804px;
  font-weight: 700;
  color: white;
  background-color: #212121;
}
::placeholder {
  color: #909090;
  font-size: 20px;
  font-weight: 700;
}
.button {
  padding:0px 10px;
  height: 24px;
  width: 24px;
  filter: invert(66%) sepia(11%) saturate(17%) hue-rotate(11deg) brightness(85%) contrast(83%);


}

.suggestions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 880px;
}

.suggestions  li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  width: 880px;
  position: absolute;
  margin-top: 100px;
  z-index: 11;

}

.suggestions li div:nth-child(2) {
  width: 750px;
  height: 50px;
  float: left;
}


@media screen and (max-width: 1150px) {
  .arayin {
    display: none;
    position: absolute;
  }
  
}

@media screen and (max-width: 935px) {
  .menu {
    display: none;
  }
  .menuTwo {
    display: flex;
  }

}

@media screen and (max-width: 615px) {
  .largeIcon {
    display: none;
  }
  .smallIcon {
    display: flex;
  }

}
